{% extends 'base.html' %}
{% block title %}Apache log stats{% endblock %}

{% block content %}
      <h2>Total unique ip addresses: {{ unique_ip }}</h2>
      <h2>Total transmitted bytes: {{response_size.response_size__sum}}</h2>

      <h1>Methods</h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Method</th>
                <th scope="col">Total Entries</th>
              </tr>
            </thead>
            <tbody>
            {% for item in methods %}
              <tr>
                <th scope="row">{{ forloop.counter0|add:1 }}</th>
                <td>{{item.http_method}}</td>
                <td>{{item.count}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

      <h1>Top 10 ip addresses</h1>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">IP</th>
                <th scope="col">Total Entries</th>
              </tr>
            </thead>
            <tbody>
            {% for item in most_common_ip %}
              <tr>
                <th scope="row">{{ forloop.counter0|add:1 }}</th>
                <td>{{item.ip}}</td>
                <td>{{item.count}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>


 <button type="button" class="btn btn-success" onclick="location.href='{% url 'save_as_file' %}'">Download as xlsx</button>

{% endblock %}